* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

form {
    width: 100vw;
    padding: 20vw;
    margin: 0 auto;
}

form input {
    width: 100%;
    min-height: 2vw;
    margin-bottom: 2vw;
    padding: 1vw;
    font-size: 3.5vw;
}

input[type='date']::-webkit-datetime-edit {
    color: rgb(42, 42, 43);
}